@model List<UserRoleViewModel>
@{
    var roleId = ViewBag.roleId;
}



<form method="post">
    <div class="card">

        <div class="card-header">
            <h2>Add or remove users from this role</h2>

        </div>
    </div>
    <div class="card-body">

        @for (int i = 0; i < Model.Count; i++)
        {


            <input hidden asp-for="@Model[i].userID">  <!--error solved-->
            <div class="form-check m-1">
                <input asp-for="@Model[i].isSelected" class="form-check-input" />

                <label class="form-check-label" asp-for="@Model[i].isSelected">
                    @Model[i].userName

                </label>
            </div>
        }

    </div>

    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
        <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary" style="width:auto">Cancel</a>
    </div>
</form>